{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}

<h1>Grades</h1>

<div class="row">
    <div class="col-md-4">
        {% for object in grade %}
            {{ object }}
            <br>
        {% endfor %}

        <!--buttons for listing-->
            <nav aria-label="...">
                <ul class="pager">
                    <li class="previous{% if not prev_url %} disabled{% endif %}">
                        <a href="{{ prev_url or '#' }}">
                            <span aria-hidden="true">&larr;</span> New Grades
                        </a>
                    </li>
                    <li class="next{% if not next_url %} disabled{% endif %}">
                        <a href="{{ next_url or '#' }}">
                            Older Grades <span aria-hidden="true">&rarr;</span>
                        </a>
                    </li>
                </ul>
            </nav>
    </div>
</div>
{% endblock %}